<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServizioSupervisioneStazione</display-name>
  <welcome-file-list>

    <welcome-file>index.jsp</welcome-file>
    
  </welcome-file-list>
  
 
  
  <servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
 
		<init-param>
		     <param-name>jersey.config.server.provider.packages</param-name>
		     <param-value>isti.serviziosupervisionestazione.apirest.impl</param-value>
		</init-param>
		
        <init-param>
            <param-name>jersey.config.server.wadl.disableWadl</param-name>
            <param-value>false</param-value>
        </init-param>
	
      <init-param>
          <param-name>jersey.config.server.provider.classnames</param-name>
          <param-value>org.glassfish.jersey.server.mvc.jsp.JspMvcFeature</param-value>
      </init-param>

		<!-- <init-param>
			<param-name>org.glassfish.jersey.container.ContainerResponseFilters</param-name>
			<param-value>eu.learnpad.ca.rest.api.web.security.ResponseCorsFilter</param-value>
		</init-param>
 		<init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>eu.learnpad.ca.rest.api.web.security.ResponseCorsFilter;org.glassfish.jersey.filter.LoggingFilter</param-value>
        </init-param>  -->
        
        
        
		<load-on-startup>1</load-on-startup>
	</servlet>
	 
<!--		<servlet>
		<servlet-name>faces-servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
		<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param> -->
<servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>io.swagger.v3.jaxrs2.integration.resources,isti.serviziosupervisionestazione.apirest.impl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/serviziosupervisionestazione/*</url-pattern>
	</servlet-mapping>
	<filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>isti.serviziosupervisionestazione.apirest.aut.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/serviziosupervisionestazione/CMAD/*</url-pattern>
  </filter-mapping>
<filter>
    <filter-name>cross-origin</filter-name>
    <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    <init-param>
        <param-name>allowedOrigins</param-name>
        <param-value>*</param-value>
    </init-param>
    <init-param>
        <param-name>allowedMethods</param-name>
        <param-value>GET,POST,HEAD</param-value>
    </init-param>
    <init-param>
        <param-name>allowedHeaders</param-name>
        <param-value>X-Requested-With,Content-Type,Accept,Origin</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>cross-origin</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

  <!--     <listener>
        <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>

    <resource-env-ref>
        <description>Object factory for the CDI Bean Manager</description>
        <resource-env-ref-name>BeanManager</resource-env-ref-name>
        <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
    </resource-env-ref>
  
 <servlet-mapping>
		<servlet-name>faces-servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>-->
  
</web-app>
