<div *ngIf="canRender; else loading">
  <mat-card class="container">
    <form [formGroup]="municipalityForm">
      <div class="sub-container">
        <h4>{{municipality.name}}</h4>
        <!--NAME FIELD-->
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="name" required>
          <mat-error *ngIf="municipalityForm.get('name').invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
        <!--LATITUDE FIELD-->
        <mat-form-field appearance="outline">
          <mat-label>Latitudine</mat-label>
          <input type="number" matInput placeholder="Latitudine" formControlName="lat" required>
          <mat-error *ngIf="municipalityForm.get('lat').invalid">{{getErrorMessageLat()}}</mat-error>
        </mat-form-field>
        <!--LONGITUDE FIELD-->
        <mat-form-field appearance="outline">
          <mat-label>Longitudine</mat-label>
          <input type="number" matInput placeholder="Longitudine" formControlName="lon" required>
          <mat-error *ngIf="municipalityForm.get('lon').invalid">{{getErrorMessageLon()}}</mat-error>
        </mat-form-field>
       <!--IMAGE FIELD-->
       <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>insert_photo</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Modifica immagine (max 16 KB)
            </mat-panel-description>
          </mat-expansion-panel-header>
            <input type="file" (change)="onFileChange($event)">
        </mat-expansion-panel>
      </mat-accordion>
      </div>
      <div class="button-fields">
        <button mat-raised-button color="accent" style="outline: none" (click)="goBack()">ANNULLA</button>
        <button mat-raised-button color="primary" style="outline: none" (click)="updateMunicipality()" [disabled]="!municipalityForm.valid">SALVA</button>
      </div>
    </form>
  </mat-card>
</div>
<ng-template #loading class="spinner-container">
  <mat-spinner class="loading-spinner"></mat-spinner>
</ng-template>
