header {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-bottom: 2px solid #eee;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
h1.example-app-name {
  margin-left: 8px;
}
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.login {
  position: fixed;
  right: 20px;
}

.userInitial{
  font-size: large;
  text-align: center;
  outline: none;
  position: fixed;
  right: 20px;
  background-color:#424242;
  color: whitesmoke;
}
.user-infos{
  width: 100%;
}

.user-infos button{
  position: relative;
  left: 45%;
}

.icon {
  font-size: 35px;
  margin-bottom: 12px;
}
.sidenav-elements {
  margin-left: 20px;
  margin-top: 10px;
}

.menu-logo{
  padding: 0;
  width: 60px;
  height: 60px;
}

.logo-container{
  position: relative;
  top: 15vh;
  margin: 0 auto;
  overflow: hidden;
  max-width: 70%;
}

.logo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}