.container {
  margin-top: 2%;
  overflow: auto;
  width: 80%;
  margin-bottom: 2%;
}

.container > * {
  width: 100%;
}
.sub-container{
  display: flex;
  flex-direction: column;
}
.button-fields
{
  width: 100%;
  margin-top: 30px;
}
.button-confirm
{
  float: right;
}
.button-goback
{
  float: left;
}
.require
{
  margin-bottom: 2%;
}
.checkbox{
  margin-left: 10px;
}
.spinner-container{
  width: 100%;
}
.loading-spinner{
  position: fixed;
  top: 45%;
  left: 45%;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
